.offer-detail-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 2px 12px 7px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.details .price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: rgba(139, 148, 198, 1);
}

.offer-detail-container .nav,
.details .title {
  font-family: "Tajawal";
  color: rgba(194, 144, 98, 1);
  text-align: right;
}
.offer-detail-container .nav {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.details .title {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
}

.details .description {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
}

.details .file-download {
  background-color: rgba(226, 232, 230, 1);
  border-radius: 2px;
  width: 240px;
  height: 95px;
}

.file-download .file-text {
  color: rgba(194, 144, 98, 1);
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  line-height: 24px;
}

/* offer status  */
#offer-status-overlay,
#offer-status-approvable-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
#offer-status-btn-approve,
#offer-status-btn-close {
  width: 45%;
  border-radius: 10px;
  cursor: pointer;
  line-height: 26px;
  font-size: 26px;
  font-weight: 700;
  padding: 10px 20px;
}

#offer-status-btn-approve {
  background-color: rgba(194, 144, 98, 1);
  color: white;
}

#offer-status-btn-close {
  background-color: transparent;
  border: 2px solid rgba(194, 144, 98, 1);
  color: rgba(194, 144, 98, 1);
}

#offer-status-header {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

#offer-status-approval-logo-container {
  background-color: rgba(194, 144, 98, 1);
}
