.property-request-card {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
}
.status-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid white;
  white-space: nowrap;
}



.request-actions {
  display: flex;
  gap: 0.75rem;
}

.request-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  font-family: "tajawal";
  color: rgba(194, 144, 98, 1);
}

/* property request card  */



.property-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: rgba(0, 0, 0, 1)
}
.property-location {
  color: rgba(194, 144, 98, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.request-details-sub-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgba(194, 144, 98, 1);
  text-align: right;
  
}


#request-overlay, 
#accept-offer-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.request-card-details-header {
  color: rgba(194, 144, 98, 1);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 2px;
}