.container-property-items {
    box-shadow: 0px 15px 15px 0px #00000040;
    background: #FFFFFF;
}

.building-title{
    color: var(--blue-color, #8B94C6);
}

.applayreport-btn{
    background: linear-gradient(90deg, #C29062 3.59%, #000000 181.03%);

}

.contact-icon{
    border: 1px solid #D1E8E280;
    box-shadow: 0px 4px 4px 0px #0000001A;
}