.content-section{
    box-shadow: 0px 4px 19px 6px #0000001A;
}

.show-my-balance , .outstanding-balance{
    background: var(--background, #D1E8E24D);
    box-shadow: 0px 4px 17px 0px #00000040;
}

.content-section h6{
    font-family: "Tajawal";
        font-size: 35px;
        font-weight: 700;
        color: #000;      
}

.content-section span{
    font-family: "Tajawal";
        font-size: 40px;
        font-weight: 500;
        color: var(--main-color, #C29062);
}